{% extends 'base.html' %}

{% block content %}
<div class="file-container">
    <h2>Files</h2>
    <ul id="fileList">
        {% for file in files %}
            <li>
                <input type="checkbox" class="file-checkbox" id="check-{{ file }}" data-filename="{{ file }}">
                <label onclick="loadFile('{{ file }}'); highlightSelected(this);">{{ file }}</label>
            </li>
        {% endfor %}
    </ul>
    <button onclick="submitCheckedFiles()">Submit</button>
</div>

<div style="width: 40%; float: left; height: 100%;">
    <h2>Extracted Data</h2>
    <iframe id="htmlPreview" height="800"></iframe>
</div>
<div style="width: 40%; float: left; height: 100%;">
    <h2>PDF Preview</h2>
    <div id="pdfPathDisplay"></div> <!-- 新增一个用于显示路径的div -->
    <iframe id="pdfPreview" height="800"></iframe>
</div>
{% endblock %}

{% block scripts %}
<script>
function loadFile(filename) {
    fetch('/load_file', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ filename: filename })
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('htmlPreview').src = data.html_path + '?t=' + new Date().getTime();
        
        // 将 pdf_path 打印在网页上
        const pdfPathDisplay = document.getElementById('pdfPathDisplay');
        pdfPathDisplay.textContent = 'PDF Path: ' + data.pdf_path;
        
        // 强制刷新 pdfPreview
        const pdfPreview = document.getElementById('pdfPreview');
        pdfPreview.src = '';  // 先清空 src
        setTimeout(() => {
            pdfPreview.src = data.pdf_path + '&t=' + new Date().getTime();  // 再设置为新的路径
        }, 10);  // 设置一个短暂的延迟
    })
    .catch(error => console.error('Error loading the file:', error));
}

function highlightSelected(labelElement) {
    // 移除所有列表项的高亮样式
    const items = document.querySelectorAll('.file-container li');
    items.forEach(item => {
        item.classList.remove('highlighted');
    });
    
    // 给当前点击的列表项添加高亮样式
    labelElement.parentElement.classList.add('highlighted');
}



function submitCheckedFiles() {
    const checkboxes = document.querySelectorAll('.file-checkbox');
    const checkedFiles = Array.from(checkboxes)
                              .filter(box => box.checked)
                              .map(box => box.getAttribute('data-filename'));

    fetch('/save_checked_files', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({files: checkedFiles})
    })
    .then(response => response.json())
    .then(data => {
        alert('Files saved: ' + data.saved);
    })
    .catch(error => console.error('Error saving files:', error));
}
</script>
{% endblock %}
